.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.classpath
.project
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.buildpath
.idea/
terminal.iml
terminal.ipr
terminal.iws
.gradle/
!gradle-wrapper.jar
/build/
out/
